@media screen and (max-width: 1023px){
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.outer-container{
    padding: 0 !important;
    background-color: grey;
    height: 0 !important;
}
.grid-container {
    display:block;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row dense;
}
.grid-container:nth-of-type(1) p:nth-of-type(1){
    padding: 0;
}
.p-center{
    text-align: center;
}
.signupBtn{
    font-size: 25px;
    padding: 1px !important;
    border: none;
}
.grid-item:nth-of-type(1) p{
    display:none;
}
.grid-item:nth-of-type(1) h3{
    font-size: 2rem;
}
.grid-item:nth-of-type(3){
    display: none;
}
.grid-item:nth-of-type(1) img{
    width: 20% !important;
    padding-top: 0 !important;
    padding-left: 12rem !important;
}
.grid-item:nth-of-type(1){
    background-color: #FAF6F5;
    font-size: 15px;
}
input{
    margin-left: 0rem;
}
input label{
    margin-left: 10rem;
}
}